@using DinePlan.DineConnect.Localization
@using Humanizer

<div ng-controller="tenant.views.xero.xero as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span class="caption-subject bold uppercase">@L("Xero").Pluralize()</span> <small>@L("Conversion")</small>
                    </h1>
                </div>
            </div>
        </div>
    
    </div>
</div>

